/* Add here all your CSS customizations */
#footer .footer-copyright {
	background: #060606;
	border-top: 0px solid #060606;
	margin-top: 0px;
	padding: 0px 0 10px;
}

#member-list td{
	vertical-align: middle;
}

ul.member {
margin: 0 0 60px;
padding: 0;
list-style: none;
}