---
layout: default
menu_active: event
---

<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="{{ site.url }}/index.html">Home</a></li>
						<li class="active">Events</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Events</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h3><strong>Trade Fairs</strong></h3>
				<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
					{% assign posts = site.categories.fair | sort: 'event_start_date' %}
					{% for post in posts %}
		  				<li class="col-md-4 col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="{{ post.url }}" class="thumb-info">
									<img alt="" class="img-responsive" src="{{ site.url }}/images/events/{{ post.event_name | slugify}}/0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">{{ post.event_name }}</span>
										<span class="thumb-info-type">{{ post.event_start_date | date: "%d %b %Y" }}</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
									</span>
								</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<hr id="networking" class="tall">
		<div class="row">
			<div class="col-md-12">
				<h3><strong>Networking</strong></h3>

				<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
					{% for post in site.categories.networking %}
		  				<li class="col-md-4 col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="{{ post.url }}" class="thumb-info">
									<img alt="" class="img-responsive" src="{{ site.url }}/images/events/{{ post.event_id}}/0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">{{ post.event_name }}</span>
										<span class="thumb-info-type">{{ post.event_date | date: "%d %b %Y %A" }}</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
									</span>
								</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<hr id="others" class="tall">

		<div class="row">
			<div class="col-md-12">
				<h3><strong>Others</strong></h3>

			</div>
		</div>

	</div>
</div>