<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="footer-ribbon">
				<span>Get in Touch</span>
			</div>
			<div class="col-md-9">
				<h4>Shortcuts</h4>
				<hr class="light">
				<div class="row">
					<div class="col-md-4">
						<h5>About Us</h5>
						<ul class="list icons list-unstyled">

							<li><i class="fa fa-caret-right"></i><a href="about.html">Profile</a></li>
							<li><i class="fa fa-caret-right"></i><a href="about.html#mission">Our Mission</a></li>
							<li><i class="fa fa-caret-right"></i><a href="about.html#council">Management Council</a></li>
							<li><i class="fa fa-caret-right"></i><a href="about.html#alliance">Our Alliances</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5>Membership</h5>
						<ul class="list icons list-unstyled">									
							<li><i class="fa fa-caret-right"></i><a href="membership.html">Benefits</a></li>
							<li><i class="fa fa-caret-right"></i><a href="membership.html#type">Types of Memberships</a></li>
							<li><i class="fa fa-caret-right"></i><a href="application.html">Application Form</a></li>
						</ul>
						<h5>Company Directory</h5>
						<ul class="list icons list-unstyled">
							<li><i class="fa fa-caret-right"></i><a href="comapny.html">SPETA Members</a></li>
							<li><i class="fa fa-caret-right"></i><a href="comapny.html#others">Full Listing</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5>Events</h5>
						<ul class="list icons list-unstyled">
							<li><i class="fa fa-caret-right"></i><a href="event.html">Trade Fairs & Missions</a></li>
							<li><i class="fa fa-caret-right"></i><a href="event.html#others">Others</a></li>
						</ul>
						<h5>Contact Us</h5>
						<ul class="list icons list-unstyled">
							<li><i class="fa fa-caret-right"></i><a href="contact.html">Administration</a></li>
							<li><i class="fa fa-caret-right"></i><a href="contact.html#general">General Enquiry</a></li>
							<li><i class="fa fa-caret-right"></i><a href="contact.html#advert">Advertisements Enquiry</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<h5 class="short">Call Us</h5>
				<span class="phone">+65 6753 8909</span>
				<p class="short">Website: http://www.speta.org</p>
				<p class="short">Fax: +65 6752 8839</p>
				<ul class="list icons list-unstyled push-top">
					<li><i class="fa fa-map-marker"></i> <strong>Address:</strong>2 Ang Mo Kio Drive Singapore 567720</li>
					<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:admin@speta.org">admin@speta.org</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<a href="index.html" class="logo">
						<img alt="SPETA" class="img-responsive" src="images/logo.png">
					</a>
				</div>
				<div class="col-md-11">
					<p>© Copyright 2014. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>