<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="footer-ribbon">
				<span>Get in Touch</span>
			</div>

			<div class="col-md-5">
				<h5 class="short">Call Us</h5>
				<span class="phone">+65 6753 8909</span>
				<p class="short">Website: <a href="http://www.speta.org">http://www.speta.org</a></p>
				<p class="short">Fax: +65 6752 8839</p>
				<ul class="list icons list-unstyled push-top">
					<li><i class="fa fa-map-marker"></i> <strong>Address:</strong>2 Ang Mo Kio Drive Singapore 567720</li>
					<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:admin@speta.org">admin@speta.org</a></li>
				</ul>
			</div>

			<div class="col-md-7">
				<h4>Shortcuts</h4>
				<hr class="light">
				<div class="row">
					<div class="col-md-4">
						<h5>About Us</h5>
						<ul class="list icons list-unstyled">

							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/about.html">Profile</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/about.html#mission">Our Mission</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/about.html#council">Management Council</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/about.html#alliance">Our Alliances</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5>Membership</h5>
						<ul class="list icons list-unstyled">									
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/membership.html">Benefits</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/membership.html#type">Types of Membership</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/application.html">Application Form</a></li>
						</ul>
						<h5>Company Directory</h5>
						<ul class="list icons list-unstyled">
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/members.html">SPETA Members</a></li>
							<!-- <li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/comapny.html">Full Listing</a></li> -->
						</ul>
					</div>
					<div class="col-md-4">
						<h5>Events</h5>
						<ul class="list icons list-unstyled">
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/event.html">Trade Fairs</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/event.html#missions">Trade Missions</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/event.html#courses">Training Courses</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/event.html#networking">Networking</a></li>
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/event.html#others">Others</a></li>
						</ul>
						<h5>Contact Us</h5>
						<ul class="list icons list-unstyled">
							<!-- <li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/contact.html">Administration</a></li> -->
							<li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/contact.html">General Enquiry</a></li>
							<!-- <li><i class="fa fa-caret-right"></i><a href="{{ site.url }}/contact.html#advert">Advertisements Enquiry</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<a href="{{ site.url }}/index.html" class="logo">
						SPETA
						<!-- <img alt="SPETA" class="img-responsive" src="{{ site.url }}/images/logo.png"> -->
					</a>
				</div>
				<div class="col-md-11">
					<p>© Copyright 2015. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>