<header id="header" class="colored flat-menu darken-top-border">
	<div class="container">
		<h1 class="logo">
			<a href="{{ site.url }}/index.html">
				<img alt="Porto" width="266" height="70" data-sticky-width="228" data-sticky-height="60" src="{{ site.url }}/images/logo.png">
			</a>
		</h1>
		<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container">
			<nav class="nav-main mega-menu">
				<ul class="nav nav-pills nav-main" id="mainMenu">								
					<li>
						<a href="{{ site.url }}/index.html">Home</a>
					</li>
					<li class="dropdown{% if page.menu_active == 'about' %} active{% endif %}">
						<a class="dropdown-toggle" href="{{ site.url }}/about.html">
							About Us
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/about.html">Profile</a></li>
                            <li><a href="{{ site.url }}/about.html#mission">Our Mission</a></li>
                            <li><a href="{{ site.url }}/about.html#council">Management Council</a></li>
                            <li><a href="{{ site.url }}/about.html#alliance">Our Alliances</a></li>
                            <li><a href="{{ site.url }}/about.html#testimonials">Testimonials</a></li>
						</ul>
					</li>
					<li class="dropdown{% if page.menu_active == 'membership' %} active{% endif %}">
						<a class="dropdown-toggle" href="{{ site.url }}/membership.html">
							Membership
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/membership.html">Benefits</a></li>
                            <li><a href="{{ site.url }}/membership.html#type">Types of Membership</a></li>
                            <li><a href="{{ site.url }}/application.html">Application Form</a></li>
						</ul>
					</li>
					
					<li class="dropdown{% if page.menu_active == 'company' %} active{% endif %}">
						<a class="dropdown-toggle" href="{{ site.url }}/members.html">
							Directory
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/members.html">SPETA Members</a></li>
                            <li><a href="{{ site.url }}/products.html">Products</a></li>

                            <!-- <li><a href="{{ site.url }}/comapny.html">Full Listing (including non-SPETA members)</a></li> -->
						</ul>
					</li>
					
					<li class="dropdown{% if page.menu_active == 'event' %} active{% endif %}">
						<a class="dropdown-toggle" href="{{ site.url }}/event.html">
							Events
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/event.html">Trade Fairs</a></li>
							<li><a href="{{ site.url }}/event.html#missions">Trade Missions</a></li>
							<li><a href="{{ site.url }}/event.html#courses">Training Courses</a></li>
                            <li><a href="{{ site.url }}/event.html#networking">Networking</a></li>
                            <li><a href="{{ site.url }}/event.html#others">Others</a></li>
						</ul>
					</li>
					
					<li class="dropdown{% if page.menu_active == 'contact' %} active{% endif %}">
						<a class="dropdown-toggle" href="{{ site.url }}/contact.html">
							Contact Us
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
                            <!-- <li><a href="{{ site.url }}/contact.html">Administration</a></li> -->
                            <li><a href="{{ site.url }}/contact.html">General Enquiry</a></li>
                            <!-- <li><a href="{{ site.url }}/contact.html#advert">Advertisements Enquiry</a></li> -->
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>