---
title: SPETA - Singapore Precision Engineering & Tooling Association<
---

<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>{{ page.title }}</title>		
		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.css" media="screen">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.theme.css" media="screen">
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-elements.css">
		<link rel="stylesheet" href="css/theme-blog.css">
		<link rel="stylesheet" href="css/theme-shop.css">
		<link rel="stylesheet" href="css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen">
		<link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.js"></script>

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="vendor/respond/respond.js"></script>
			<script src="vendor/excanvas/excanvas.js"></script>
		<![endif]-->

	</head>
	<body>
		<div class="body">
			<header id="header" class="colored flat-menu darken-top-border">
				<div class="container">
					<h1 class="logo">
						<a href="index.html">
							<img alt="Porto" width="163" height="55" data-sticky-width="163" data-sticky-height="55" src="images/logo.png">
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">								
								<li>
									<a href="index.html">Home</a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										About Us
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
	                                    <li><a href="about#profile">Profile</a></li>
	                                    <li><a href="about#mission">Our Mission</a></li>
	                                    <li><a href="about#council">Management Council</a></li>
	                                    <li><a href="about#alliance">Our Alliances</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Membership
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
	                                    <li><a href="membership#benefit">Benefits</a></li>
	                                    <li><a href="membership#type">Types of Memberships</a></li>
	                                    <li><a href="membership#form">Application Form</a></li>
									</ul>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Company Directory
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
	                                    <li><a href="#">SPETA Members </a></li>
	                                    <li><a href="#">Full Listing (including non-SPETA members)</a></li>
									</ul>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Events
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
	                                    <li><a href="event#missions">Trade Fairs & Missions</a></li>
	                                    <li><a href="event#others">Others</a></li>
									</ul>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Contact Us
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
	                                    <li><a href="contact#admin">Administration</a></li>
	                                    <li><a href="contact#general">General Enquiry</a></li>
	                                    <li><a href="contact#advert">Advertisements Enquiry</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			{{ content }}

			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>
						<div class="col-md-9">
							<h4>Shortcuts</h4>
							<hr class="light">
							<div class="row">
								<div class="col-md-3">
									<h5>About Us</h5>
									<ul class="list icons list-unstyled">

										<li><i class="fa fa-caret-right"></i><a href="about#profile">Profile</a></li>
										<li><i class="fa fa-caret-right"></i><a href="about#mission">Our Mission</a></li>
										<li><i class="fa fa-caret-right"></i><a href="about#council">Management Council</a></li>
										<li><i class="fa fa-caret-right"></i><a href="about#alliance">Our Alliances</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<h5>Membership</h5>
									<ul class="list icons list-unstyled">									
										<li><i class="fa fa-caret-right"></i><a href="membership#benefit">Benefits</a></li>
										<li><i class="fa fa-caret-right"></i><a href="membership#type">Types of Memberships</a></li>
										<li><i class="fa fa-caret-right"></i><a href="membership#form">Application Form</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<h5>Events</h5>
									<ul class="list icons list-unstyled">
										<li><i class="fa fa-caret-right"></i><a href="#">Trade Fairs & Missions</a></li>
										<li><i class="fa fa-caret-right"></i><a href="#">Others</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<h5>Contact Us</h5>
									<ul class="list icons list-unstyled">
										<li><i class="fa fa-caret-right"></i><a href="contact#admin">Administration</a></li>
										<li><i class="fa fa-caret-right"></i><a href="contact#general">General Enquiry</a></li>
										<li><i class="fa fa-caret-right"></i><a href="contact#advert">Advertisements Enquiry</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<h5 class="short">Call Us</h5>
							<span class="phone">+65 6753 8909</span>
							<p class="short">Website: http://www.speta.org</p>
							<p class="short">Fax: +65 6752 8839</p>
							<ul class="list icons list-unstyled push-top">
								<li><i class="fa fa-map-marker"></i> <strong>Address:</strong>2 Ang Mo Kio Drive Singapore 567720</li>
								<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:admin@speta.org">admin@speta.org</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="SPETA" class="img-responsive" src="images/logo.png">
								</a>
							</div>
							<div class="col-md-11">
								<p>© Copyright 2014. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/jquery.appear/jquery.appear.js"></script>
		<script src="vendor/jquery.easing/jquery.easing.js"></script>
		<script src="vendor/jquery-cookie/jquery-cookie.js"></script>
		<script src="vendor/bootstrap/bootstrap.js"></script>
		<script src="vendor/common/common.js"></script>
		<script src="vendor/jquery.validation/jquery.validation.js"></script>
		<script src="vendor/jquery.stellar/jquery.stellar.js"></script>
		<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="vendor/jquery.gmap/jquery.gmap.js"></script>
		<script src="vendor/twitterjs/twitter.js"></script>
		<script src="vendor/isotope/jquery.isotope.js"></script>
		<script src="vendor/owlcarousel/owl.carousel.js"></script>
		<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/vide/jquery.vide.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Specific Page Vendor and Views -->
		<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
		<script src="js/views/view.home.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
		 -->

	</body>
</html>